html {
  font-size: 62.5%;
}

header {
  text-align: center;
  font-size: 3.6rem;
}

div{
  text-align: center;
  font-size: 2.6rem;
}

img {
  width: 150px;
  height: 100px;
}
.body {
  margin-top: 20px;
}

a {
  /*padding-left: 10px;*/
  text-decoration: none;
}

.menuespace {
  padding: 50px 10px 20px 20px ;
}
a:hover {
  color: #00f;
}
footer {
  background-color: #dda0dd;
  padding: 5px;
  height: auto;
  width: 100%;
}

p{
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

body {
  background-color: #fff;
  height: auto;
  width: 100%;
}

/* le footer*/
.conteneurfooter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.social{
  position: relative;
  border-radius: 100%;
  width:59px;
  height:60px;
  justify-content: center;   /* aligner l'image verticalement*/
  align-items: center;
  display: flex;
  overflow: hidden;
  margin-right : 10px;
}
.social img{
  z-index: 1;
  width: 59px;
  height:60px;
  
}
.fondface, .fondtrip, .fondgoogle, .fondreservation{
  top: -60px;
  z-index:2;
  display: block;
  width:59px;
  height:60px;
  position: absolute;
  transition:0.5s;
}

.fondface{
  background-color:blue;
}
.fondtrip{
  background-color: green;
}
.fondgoogle{
  background-color:yellow;
}
.social:hover .fondface{
  top : 0;
}
.social:hover .fondtrip{
  top : 0;
}
.social:hover .fondgoogle{
  top : 0;
}
.contact{
  display:inline-block;
  list-style-type: none;
  vertical-align: top;
}

@media screen and (max-width: 440px) {
  body {
    width: 100%;
  }
  img {
    height: auto;
    width: 100%;
  }
  header{
    font-size: 2.2rem;
  }
  footer {
    margin: 50px 0 0 0;
    padding: 20px;
  }
  footer>p {
    font-size: 1.6rem;
  }
}


