html {
  font-size: 62.5%;
}

.bar-menu {
  background-color: #e6e5e5;
  border: 1px solid #808080;
  font-size: 2.2rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-bottom: 50px;
  /*position: fixed;*/
  font-family: 'Black And White Picture', sans-serif;
}

.bar-menu>a {
  text-decoration-line: none;
  color: #000;
}

.bar-menu>a:hover {
  color: #ff1492;
}

.bar-espace {
  border-right: 5px solid #080;
  padding-left: 10px;
  padding-right: 10px;
}

.bar-last-element {
  padding-left: 10px;
  padding-right: 10px;
}

.body-content {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-self: center;
  padding-right: 50px;
  padding-bottom: 50px;
  font-size: 2.2rem;
}

.body-content> p{
  padding-left: 20px;
  border-bottom: 1px solid #808080;
}

.body-content> img {
  border: 1px solid #e6e5e5;
  padding-bottom: 20px;
}

.alignleft {
  width: 250px;
  height: 250px;
  border-radius: 30%;
  justify-self: right;
}

body {
  background-color: #d6d9dc;
}
.container-body {
  margin: 0 200px 0 200px;
  padding-top: 20px;
  background-color: #fff;
}

/***********
photo for proposition du chef
***************/
.alignright {
  justify-self: center;
  border-radius: 5px;
}
#grillade {
  grid-column: span 2;
  justify-self: left;
  padding: 20px 0  20px 0;
}




/********************************************/
@media only screen and (max-width : 1300px){
  .container-body {
    margin: 0 150px 0 150px;
    padding-top: 20px;
  }
}


@media only screen and (max-width : 1240px){
  .container-body {
    margin: 0 100px 0 100px;
    padding-top: 20px;
  }
}

@media only screen and (max-width : 1140px){
  .container-body {
    margin: 0 50px 0 50px;
    padding-top: 20px;
  }
}

@media only screen and (max-width : 1030px){
  .container-body {
    margin: 0 20px 0 20px;
    padding-top: 20px;
  }
  
  .body-content>img {
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width : 768px){
  .container-body {
    margin: 0 20px 0 20px;
    padding-top: 20px;
  }
}

@media only screen and (max-width : 620px){
  
  .body-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .container-body {
    margin: 0 5px 0 5px;
    padding-top: 20px;
  }
  
  .body-content> a {
    font-size: 1.6rem;
  }
  
  .body-content>img {
    width: 179px;
    height: 135px;
  }
}

@media only screen and (max-width : 480px){
  .container-body {
    margin: 0 10px 0 10px;
    padding-top: 20px;
  }
  
  /*.body-content {*/
  /*  display: grid;*/
  /*  grid-template-columns: 1fr;*/
  /*}*/
  
  .bar-menu {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    background-color: transparent;
    border: transparent;
  }
  
  .bar-espace {
    border-right: transparent;
  }
  
  .bar-menu>a {
    background-color: #20b2a2;
    margin-bottom: 5px;
    justify-content: center;
  }
  
  .body-content>.alignright {
    justify-self: center;
  }
  
  #poisson, #grilladedescription, #bunchahanoi {
    grid-column: span 2;
  }
  
  .body-content>img {
    width: 220px;
    height: 175px;
  }
}
